__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
lib/
bin/
pip-log.txt
pip-delete-this-directory.txt
.toast
.stack-work/
db.sqlite3
.env
.git
.gitignore
recordings/
*.wav
*.mp3
.vscode/
.idea/
.DS_Store
